# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio Code
.vscode/

#Build output
build/

#Build documentation
docs/_build/*
!docs/_build/readme.txt
docs/_doxygen/*
!docs/_doxygen/readme.txt
docs/_static/*
!docs/_static/readme.txt